<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>

    <!-- bootstrap-css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- self-definition-css -->
    <link rel="stylesheet" type="text/css" href="static/login.css">

    <!-- self-definition-js -->
    <script src="form/login.js"></script>
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top:150px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form role="form">
                    <fieldset>
                        <h2>Please Add Goods Data</h2>
                        <hr class="colorgraph">
                        <div class="form-group">
                            <input type="text" name="name" id="name" class="form-control input-lg" placeholder="name">
                        </div>
                        <div class="form-group">
                            <input type="jpg" name="jpg" id="jpg" class="form-control input-lg" placeholder="jpg">
                        </div>
                        <div class="form-group">
                            <input type="text" name="price" id="price" class="form-control input-lg" placeholder="price">
                        </div>
                        <div class="form-group">
                            <input type="text" name="number" id="number" class="form-control input-lg" placeholder="number">
                        </div>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <button type="submit"class="btn btn-lg btn-success btn-block">新增物品</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-database.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-analytics.js"></script>

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyCDuyQEcT7FbDI8kJkQ4TzP0Un3F4BwC3A",
        authDomain: "industriouswoman-myg36t91.firebaseapp.com",
        databaseURL: "https://industriouswoman-myg36t91.firebaseio.com",
        projectId: "industriouswoman-myg36t91",
        storageBucket: "industriouswoman-myg36t91.appspot.com",
        messagingSenderId: "902295424134",
        appId: "1:902295424134:web:7876cc39ae5fd3a0ea9507",
        measurementId: "G-DXZ0LF42BC"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
</script>
</body>
</html>

