<!DOCTYPE html>
<html lang="en">
<head>
	<!-- language -->
  <meta charset="utf-8">
  <!-- app rwd -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- jquery -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/js/main.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- web name -->
  <title>industriousWoman</title>
</head>
<body onload="readGoods(); readThreshold();">
	<!-- 導覽列 -->
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<span class="navbar-brand">industriousWoman</span>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
	    <ul class="navbar-nav">
	    	<li class="nav-item active">
	    		<a class="nav-link" href="index.html"><span class="glyphicon glyphicon-user"></span>Home</a>
	    	</li>
	    	<li class="nav-item">
	    		<a class="nav-link" href="register.html"><span class="glyphicon glyphicon-user"></span>Sign Up</a>
	    	</li>
	    	<li class="nav-item">
	    		<a class="nav-link" href="login.html"><span class="glyphicon glyphicon-user"></span>Sign In</a>
	    	</li>
	    	<div id="userSection"></div>
	    	<div id="logoutSection"></div>
	    </ul>
		</div>
	</nav>

	<br>

  <!--Product Modal -->
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
		  <div class="modal-content">
			  <div class="modal-header">
					<h5 class="modal-title" id="productTitle">New Product</h5>
			  </div>
			  <div class="modal-body">
					<form class="border p-4" id="productForm">
					  <div id="form-group">
							<label>*Product Name</label><input type="text" class="form-control" id="name">
					  </div>
						<!-- <div id="form-group">
							<input type="file" name="file" id="file-input" class="visuallyhidden">
							<label>Product Image</label><input type="button" class="form-control file-upload" value="選擇圖片" id="image">
					  	</div> -->
					  <div id="form-group">
							<label>*Product Price</label><input type="text" class="form-control" id="price">
					  </div>
					  <div id="form-group">
							<label>*Product Quantity</label><input type="text" class="form-control" id="mustNumber">
					  </div>
					  <br>
					  <button type="submit" class="btn btn-outline-success" id="createPBtn">Confirm</button>
					  <button style="display: none" id="updateBtn" class="btn btn-outline-success">Update</button>
					  <button style="display: none" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
					</form>
				</div>
		  </div>
		</div>
  </div>

  <!--Threshold Modal -->
  <div class="modal fade" id="thresholdModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg"role="document">
	  	<div class="modal-content">
		  	<div class="modal-header">
					<h5 class="modal-title" id="thresholdTitle">New Threshold</h5>
	  		</div>
		  	<div class="modal-body">
					<form class="border p-4" id="thresholdForm">
					  <div id="form-group">
							<label>*Threshold Amount</label><input type="number" class="form-control" id="threshold">
					  </div>
					  <br>
					  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
					  <button type="submit" class="btn btn-outline-success" id="createTBtn">Confirm</button>
					</form>
				</div>
	  	</div>
		</div>
  </div>

<!-- 觸發 Modal -->
  <div id="demo" class="carousel slide" data-wrap="false" data-interval="false">
    <div class="carousel-inner">
	    <div class="carousel-item active">
	    	<div align="center">
 					<p><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#productModal">New Product</button></p>
 					<div class="row" id="goodsSection"></div>
 				</div>
	    </div>
	    <div class="carousel-item">
	    	<div align="center">
	    		<p><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#thresholdModal">New Threshold</button></p>
	    		<div class="row" id="splitSection"></div>
	    	</div>
	    </div>
	    <div class="carousel-item">
	    	<div align="center">
	    		<p><button type="button" class="btn btn-outline-primary">Result Page</button></p>
	    	</div>
    	</div>
    </div>
  </div>

  <!-- 暫時強制換行 -->
  <br><br>

  <!-- 下一步 -->
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-bottom">
	  <button class="btn btn-outline-light" data-slide="prev" href="#demo">Previous</button>
	  <button class="btn btn-outline-light" data-slide="next" href="#demo">Next</button>
	</nav>


  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-database.js"></script>
  <script src ="https://www.gstatic.com/firebasejs/7.6.2/firebase-auth.js"></script> 
	<script>
		// 資料庫設置
		var firebaseConfig = {
	    apiKey: "AIzaSyCDuyQEcT7FbDI8kJkQ4TzP0Un3F4BwC3A",
	    authDomain: "industriouswoman-myg36t91.firebaseapp.com",
	    databaseURL: "https://industriouswoman-myg36t91.firebaseio.com",
	    projectId: "industriouswoman-myg36t91",
	    storageBucket: "industriouswoman-myg36t91.appspot.com",
	    messagingSenderId: "902295424134",
	    appId: "1:902295424134:web:7876cc39ae5fd3a0ea9507",
	    measurementId: "G-DXZ0LF42BC"
		};
		// 初始化資料庫
		firebase.initializeApp(firebaseConfig);

		// 獲得目前使用者狀態
		// var user = firebase.auth().currentUser;

		// 改變狀態(登入 -> 登出)
		// function logout(){
		//	 firebase.auth().signOut();
		// }

		// 檢查狀態是否發生改變
		// firebase.auth().onAuthStateChanged(function(user){
		// 	  window.alert("logout success !");
		// 	  const yourFunction = async () => {
	  //      await delay(5000);
	  //      console.log("Waited 5s");
	  //      window.location("login.html")
	  //    };
		// }

		// 取得 product data 檢查欄位是否空白，並將參數傳給 fun createGoods()
		document.getElementById("productForm").addEventListener("submit",(e)=>{
	    var name = document.getElementById("name").value;
	    var price = document.getElementById("price").value;
	    var mustNumber = document.getElementById("mustNumber").value;
	    e.preventDefault();
	    if(!name | !price | !mustNumber){
	    	alert('Missing required information');
	    }
	    else{
	    	createGoods(name, price, mustNumber);
	    	productForm.reset();
	    }
		});

		var day = new Date();
		var time = day.getTime();
		var counter = time;

		// 新增商品
		function createGoods(name, price, mustNumber){
		    var goodsData={
		    	id: counter,
			    name: name,
			    price: price,
			    mustNumber: mustNumber
		    }
		    firebase.database().ref("goods/").push(goodsData).then(()=>{
		    	Swal.fire('','商品新增成功','success');
		    });
		    counter += 1;
		    document.getElementById("goodsSection").innerHTML="";
		}


		// 取得 threshold data 檢查欄位是否空白，並將參數傳給 fun createThreshold()
		document.getElementById("thresholdForm").addEventListener("submit",(e)=>{
		    var threshold = document.getElementById("threshold").value;
		    e.preventDefault();
		    if(!threshold){
		    	alert('Missing required information');
		    }
		    else{
		    	createThreshold(threshold);
		    	thresholdForm.reset();
		    }
		});

		// 新增門檻
		function createThreshold(threshold){
	    var thresholdData={
		    threshold: threshold
	    }
	    firebase.database().ref("split").push(thresholdData).then(()=>{
	    	Swal.fire('','門檻新增成功','success');
	    });
	    document.getElementById("thresholdSection").innerHTML="";
		}

		// 讀取商品並顯示於網頁
		function readGoods(){
    	firebase.database().ref("goods/").on("value", function(snapshot){
      	snapshot.forEach(function(childSnapshot){
	        var goodsData = childSnapshot.val();
	        // document.getElementById('readSection').textContent += JSON.stringify(goodsData);
	        document.getElementById("goodsSection").innerHTML += `
	          <div class="card">
	          	<div class="card-body">
							  <h5>Name : ${goodsData.name}</h5>
							  <h5>Price : ${goodsData.price}</h5>
							  <h5>Number : ${goodsData.mustNumber}</h5>
							  <button class="btn btn-outline-primary" id="updateBtn">Update</button>
							  <button class="btn btn-outline-danger">Delete</button>
							</div>
						</div>
	        `
      	});
    	});
  	}

  	// 讀取門檻並顯示於網頁
		function readThreshold(){
			firebase.database().ref("split").on("value", function(snapshot){
	      snapshot.forEach(function(childSnapshot){
	        var thresholdData = childSnapshot.val();
	        // document.getElementById('splitSection').textContent += JSON.stringify(goodsData);
	        document.getElementById("splitSection").innerHTML += `
	          <div class="card">
	          	<div class="card-body">
							  <h5>threshold : ${thresholdData.threshold}</h5>
							  <button class="btn btn-outline-primary">Update</button>
							  <button class="btn btn-outline-danger">Delete</button>
							</div>
						</div>
	        `
	      });
    	});
		}

		function updateGoods(name, price, mustNumber){
			document.getElementById("updateBtn").addEventListener("click",(e)=>{
			    document.getElementById("goodsSection").innerHTML =`
			    	// 開發中
			    ` 
			});
		}

	</script>
</body>
</html>