.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.content{
  border: 1px solid #000000;
  width: auto;
  height: 600px;
}

.topnav-right {
  float: right;
}